<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Breezy Wave | Beat Store</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- gLightbox gallery-->
    <link rel="stylesheet" href="vendor/glightbox/css/glightbox.min.css">
    <!-- Range slider-->
    <link rel="stylesheet" href="vendor/nouislider/nouislider.min.css">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/favicon.png">
  </head>
  <body>
    <div class="page-holder">
      <!-- navbar-->
      <%- include('navbar') %>
      
    
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0"><%=username%></h1>
              </div>
              <div class="col-lg-6 text-lg-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                    <li class="breadcrumb-item"><a class="text-dark" href="index.html">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detail</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
      <div class="container"> 
        <section class="py-5">
          <h2 class="h5 text-uppercase mb-4">My Products</h2>
          <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0" id="cartSection">
                <!-- CART TABLE-->
      
        <div class="table-responsive mb-4">
          <table class="table text-nowrap">
            <thead class="bg-light">
              <tr>
                <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Product</strong></th>
                <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Type</strong></th>
                <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">License</strong></th>
                <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Total</strong></th>
                <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase"></strong></th>
              </tr>
            </thead>
            <tbody class="border-0">
              <% var total=0 %>
              <% if (cart!=null && user!=null && balance!=null && cart.myItems!=null && cart.myItems.length > 0) { %>
                <% cart.myItems.forEach(item => { %>
                  <tr>
                    <th class="ps-0 py-3 border-light" scope="row">
                      <div class="d-flex align-items-center">
                        <img src="<%= item.cover %>" alt="<%= item.title %>" width="70"/>
                        <div class="ms-3">
                          <strong class="h6"><%= item.title %></strong>
                        </div>
                      </div>
                    </th>
                    <td class="p-3 align-middle border-light">
                      <p class="mb-0 small"><%= item.type %></p>
                    </td>
                    <td class="p-3 align-middle border-light">
                      <p class="mb-0 small"><%= item.license %></p>
                    </td>
                    <td class="p-3 align-middle border-light">
                      <p class="mb-0 small"><%= item.price %> <%total=total + item.price %></p>
                    </td>
                   
                  </tr>
                <% }); %>
              <% } else { %>
                <tr>
                  <td colspan="5">You have not bought any product yet!</td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
              <!-- CART NAV-->
              <div class="bg-light px-4 py-3"  id="cartNav">
                <div class="row align-items-center text-center">
                  <div class="col-md-6 mb-3 mb-md-0 text-md-start"><a class="btn btn-link p-0 text-dark btn-sm" href="shop.html"><i class="fas fa-long-arrow-alt-left me-2"> </i>Continue shopping</a></div>
                  <div class="col-md-6 text-md-end"><a class="btn btn-outline-dark btn-sm addToCartButton" href="checkout">Download Everything<i class="fas fa-long-arrow-alt-right ms-2"></i></a></div>
                </div>
              </div>
            </div>
          
            <!-- ORDER TOTAL-->
            <div class="col-lg-4" id="orderTotal">
              <div class="card border-0 rounded-0 p-lg-4 bg-light">
                <div class="card-body">
                  <h5 class="text-uppercase mb-4">Ethereum Balance </h5>
                  <ul class="list-unstyled mb-0">
          
                    <li class="border-bottom my-2"></li>
                    <li class="d-flex align-items-center justify-content-between mb-4"><strong class="text-uppercase small font-weight-bold">Balance</strong><span><%=balance %></span></li>
                    <li>
                      <form id="depositForm" >
                        <div class="input-group mb-0">
                          <input id="amount" name="amount" class="form-control" type="text" placeholder="Enter the amount to deposit">
                          <div id="paypal-button-container" >
                        
                            <div
                            class="metamask-button"
                            address="0x2b7dF997E54CD20a9fFa5AC460D0A9FBD5fB0c09"
                            amount="1"
                            amount-currency="ETH"
                            fiat-currency="USD"
                            text="Pay"
                            logo-animated="true"
                          ></div>
                        </div>
                        <button class="btn btn-dark btn-sm w-100" id ="order" data-username="<%= username %>" type="submit"> Deposit</button>
                          <span class="txt1" id = "feedback"></span>
                        </div>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
     
      <footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Customer services</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#!">Help &amp; Contact Us</a></li>
                <li><a class="footer-link" href="#!">Returns &amp; Refunds</a></li>
                <li><a class="footer-link" href="#!">Online Stores</a></li>
                <li><a class="footer-link" href="#!">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Company</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#!">What We Do</a></li>
                <li><a class="footer-link" href="#!">Available Services</a></li>
                <li><a class="footer-link" href="#!">Latest Posts</a></li>
                <li><a class="footer-link" href="#!">FAQs</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#!">Twitter</a></li>
                <li><a class="footer-link" href="#!">Instagram</a></li>
                <li><a class="footer-link" href="#!">Tumblr</a></li>
                <li><a class="footer-link" href="#!">Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-md-6 text-center text-md-start">
                <p class="small text-muted mb-0">&copy; 2021 All rights reserved.</p>
              </div>
              <div class="col-md-6 text-center text-md-end">
                <p class="small text-muted mb-0">Template designed by <a class="text-white reset-anchor" href="https://bootstrapious.com/p/boutique-bootstrap-e-commerce-template">Bootstrapious</a></p>
                <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
              </div>
            </div>
          </div>
        
      </footer>
      <!-- JavaScript files-->
      <script src="js/paypal.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="vendor/glightbox/js/glightbox.min.js"></script>
      <script src="vendor/nouislider/nouislider.min.js"></script>
      <script src="vendor/swiper/swiper-bundle.min.js"></script>
      <script src="vendor/choices.js/public/assets/scripts/choices.min.js"></script>
      <script src="js/front.js"></script>
      <script src="https://cdn.rawgit.com/pierregoutheraud/metamask-transaction-button/6ebebf41/build/static/js/mtb.js"></script>

      <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {
        
            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot 
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
        
      </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

var elOrderTotal = document.getElementById('order'); 
var username = elOrderTotal.dataset.username;
console.log("usrn ",username);
/*
var elForm = document.getElementById('depositForm');
  var elAmount = document.getElementById('amount');
  var elMsg = document.getElementById('feedback');
  len = elAmount.value.length;


  function checkFilled() {
    if (isNaN(elAmount.value)||len ==0) {
      console.log("value length : ",len);
        elMsg.innerHTML = 'Please check the deposit amount';
        return false
    } else {
        
        elMsg.innerHTML = '';
        return true;
    }
}




if (elForm.addEventListener) {
    elForm.addEventListener('submit', function() {
         checkFilled();
    }, false);
} else {
    elForm.attachEvent('onsubmit', function() {
         checkFilled();
    });
}

if (checkFilled()==true)
  {
   */
    $('#order').on('click', function (event)  {
    console.log("usrn 2 ",username);
 
    event.preventDefault(); // Prevent the form from submitting normally
    
    console.log("usrn 2 ",username);
    
    var formData = {
      amount: $('#amount').val(),
    username: username // Get the value of the amount input field
     
    };

    console.log("usrn ",username);
  
     $.ajax({
      type: 'POST',
      url: '/api/user/deposit', 
      data: formData,
      success: function(response) {
        alert("Amount Deposited with Success");
        console.log(response,'front 1');
         window.location.href = '/'; // Change '/index' to your frontend page URL
                
      },
      error: function(xhr, status, error) {
              console.error('Error:', error);
              // Handle errors
              alert("Deposit Failed");
              
          }
    });
  });
//};


 </script> 
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
  </body>
</html>